*{
    font-family: 'Baloo Bhai 2', cursive;
}
#title-text{
    font-size: 30px;
    color: #00bd56;
    /* color: black; */
    font-weight: bold;
}
body{
    background-color:#f8f9fd;

}
#preview-div{
    display: flex;
    justify-content: space-around;
}

.navbar{
    background-color: #ffffff;
}
.navbar ul li a{
    color: black;
    font-size: 17px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.navbar ul li::after{
    content: '';
    height:3px;
    width: 0;
    background: #00bd56;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
    /* color: white; */
}
.nav-link:hover{
    color: #00bd56;
    cursor: pointer;
    /* scale: 1.2; */
}
.navbar-toggler .navbar-toggler-icon {
    display: block;
    width: 15px;
    height: 20px;
    border-radius: 2px;
}

#title-txt{
    color:#00bd56;
    font-size: 28px;
}